.wrapper {
    padding-top: 40px;
    background: #dcdedf;
    border-radius: 20px;
    opacity: 0.75;
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    padding: 20px;
}